<li class="sidebar-item">
    <a class="sidebar-link has-arrow" href="javascript:void(0)"
        aria-expanded="false">
        <i class="fas fa-home fs-3"></i>
        <span class="hide-menu">Đặt Phòng</span>
    </a>
    <ul aria-expanded="false" class="collapse first-level base-level-line">
        <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><span
                    class="hide-menu">Quản Lý Phòng
                </span></a>
        </li>
        <li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><span
                    class="hide-menu">Danh Sách Đặt Phòng
                </span></a>
        </li>
    </ul>
</li>