<ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btnSideBar btn-lg btn-toggle col-12 rounded collapsed text-start text-dark fs-5"
                    data-bs-toggle="collapse" data-bs-target="#thanhtoan-collapse" aria-expanded="false">
                    <i class="bi bi-person"></i>
                    Thanh Toán
                    <i class="bi bi-caret-down"></i>
                </button>
                <div class="collapse" id="thanhtoan-collapse">
                    <ul class="dropdownSidebarButton btn-toggle-nav list-unstyled fw-normal pb-1 lg m-3">
                        <li>
                            <div class="lineMenuSidebar"></div><button href="#"
                                class="btn btn-toggle col-8 rounded collapsed p-1 text-start text-dark">Create
                                User</button>
                        </li>
                        <li>
                            <div class="lineMenuSidebar"></div><button href="#"
                                class="btn btn-toggle col-8 rounded collapsed p-1 text-start text-dark">Delete
                                User</button>
                        </li>
                        <li>
                            <div class="lineMenuSidebar"></div><button href="#"
                                class="btn btn-toggle col-8 rounded collapsed p-1 text-start text-dark">Update
                                User</button>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>